<!DOCTYPE html>
<html data-bs-theme="<%= theme %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Al-Qur'an || Halaman tidak ditemukan</title>
    <link rel="stylesheet" href="/src/bootstrap.min.css">
    <link rel="stylesheet" href="/src/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/src/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <p class="display-1 d-block">Halaman tidak ditemukan</p>
            <p class="md-4 lead">Halaman yang Anda cari tidak dapat ditemukan.</p>
            <a href="/" class="btn btn-link">Kembali ke beranda</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MYVJGJFLCC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "G-MYVJGJFLCC");
    </script>
  </body>
</html>
