<!DOCTYPE html>
<html data-bs-theme="<%= theme %>">
  <head>
    <!-- Primary Meta Tags -->
    <meta name="title" content="Al-Qur'an || Asmaul husna" />
    <meta name="description" content="Klik disini untuk membaca Asmaul husna beserta artinya" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Al-Qur'an || Asmaul husna</title>

    <link rel="stylesheet" href="/src/bootstrap.min.css">
    <link rel="stylesheet" href="/src/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://quran.mrestu.my.id/" />
    <meta property="og:title" content="Al-Qur'an || Asmaul husna" />
    <meta property="og:description" content="Klik disini untuk membaca Asmaul husna beserta artinya" />
    <meta property="og:image" content="https://quran.mrestu.my.id/src/al-quran-14969.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://quran.mrestu.my.id/" />
    <meta property="twitter:title" content="Al-Qur'an || Asmaul husna" />
    <meta property="twitter:description" content="Klik disini untuk membaca Asmaul husna beserta artinya" />
    <meta property="twitter:image" content="https://quran.mrestu.my.id/src/al-quran-14969.png" />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/src/al-quran-14834.png" alt="Al-Qur'an" width="20" class="d-inline-bloxk align-text-top">
          Al-Qur'an digital
        </a>
        <button class="navbar-toggler" type="button" onclick="location.href = '/';">
          <i class="bi bi-house"></i>
        </button>
      </div>
    </nav>
    <br>
    <div class="container">
      <div class="ayat">
        <h1 class="text-center">1</h1>
        <hr>
        <h3 class="text-end arabic">الرحمن</h3>
        <p>Ar Rahman</p>
        <p>Yang Maha Pengasih</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">2</h1>
        <hr>
        <h3 class="text-end arabic">الرحيم</h3>
        <p>Ar Rahim</p>
        <p>Yang Maha Penyayang</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">3</h1>
        <hr>
        <h3 class="text-end arabic">الملك</h3>
        <p>Al Malik</p>
        <p>Yang Maha Merajai atau menguasai</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">4</h1>
        <hr>
        <h3 class="text-end arabic">القدوس</h3>
        <p>Al Quddus</p>
        <p>Yang Maha Suci</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">5</h1>
        <hr>
        <h3 class="text-end arabic">السلام</h3>
        <p>As Salam</p>
        <p>Yang Maha Memberi Kesejahteraan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">6</h1>
        <hr>
        <h3 class="text-end arabic">المؤمن</h3>
        <p>Al Mu`min</p>
        <p>Yang Maha Pemberi Keamanan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">7</h1>
        <hr>
        <h3 class="text-end arabic">المهيمن</h3>
        <p>Al Muhaymin</p>
        <p>Yang Maha Mengatur</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">8</h1>
        <hr>
        <h3 class="text-end arabic">العزيز</h3>
        <p>Al Aziz</p>
        <p>Yang Maha Perkasa</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">9</h1>
        <hr>
        <h3 class="text-end arabic">الجبار</h3>
        <p>Al Jabbar</p>
        <p>Yang Memiliki Mutlak Kegagahan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">10</h1>
        <hr>
        <h3 class="text-end arabic">المتكبر</h3>
        <p>Al Mutakabbir</p>
        <p>Yang Maha Megah</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">11</h1>
        <hr>
        <h3 class="text-end arabic">الخالق</h3>
        <p>Al Khaliq</p>
        <p>Yang Maha Pencipta</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">12</h1>
        <hr>
        <h3 class="text-end arabic">البارئ</h3>
        <p>Al Bari</p>
        <p>Yang Maha Pembuat atau Perancang</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">13</h1>
        <hr>
        <h3 class="text-end arabic">المصور</h3>
        <p>Al Musawwir</p>
        <p>Yang Maha Membentuk Rupa</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">14</h1>
        <hr>
        <h3 class="text-end arabic">الغفار</h3>
        <p>Al Ghaffar</p>
        <p>Yang Maha Pengampun</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">15</h1>
        <hr>
        <h3 class="text-end arabic">القهار</h3>
        <p>Al Qahhar</p>
        <p>Yang Maha Memaksa</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">16</h1>
        <hr>
        <h3 class="text-end arabic">الوهاب</h3>
        <p>Al Wahhab</p>
        <p>Yang Maha Pemberi Karunia</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">17</h1>
        <hr>
        <h3 class="text-end arabic">الرزاق</h3>
        <p>Ar Razzaq</p>
        <p>Yang Maha Pemberi Rezeki</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">18</h1>
        <hr>
        <h3 class="text-end arabic">الفتاح</h3>
        <p>Al Fattah</p>
        <p>Yang Maha Pembuka Rahmat</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">19</h1>
        <hr>
        <h3 class="text-end arabic">العليم</h3>
        <p>Al `Alim</p>
        <p>Yang Maha Mengetahui</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">20</h1>
        <hr>
        <h3 class="text-end arabic">القابض</h3>
        <p>Al Qabdah</p>
        <p>Yang Maha Menyempitkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">21</h1>
        <hr>
        <h3 class="text-end arabic">الباسط</h3>
        <p>Al Basith</p>
        <p>Yang Maha Melapangkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">22</h1>
        <hr>
        <h3 class="text-end arabic">الخافض</h3>
        <p>Al Haafidh</p>
        <p>Yang Maha Merendahkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">23</h1>
        <hr>
        <h3 class="text-end arabic">الرافع</h3>
        <p>Ar Raafi</p>
        <p>Yang Maha Meninggikan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">24</h1>
        <hr>
        <h3 class="text-end arabic">المعز</h3>
        <p>Al Muizz</p>
        <p>Yang Maha Memuliakan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">25</h1>
        <hr>
        <h3 class="text-end arabic">المذل</h3>
        <p>Al Mudzil</p>
        <p>Yang Maha Menghinakan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">26</h1>
        <hr>
        <h3 class="text-end arabic">السميع</h3>
        <p>Al Samii</p>
        <p>Yang Maha Mendengar</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">27</h1>
        <hr>
        <h3 class="text-end arabic">البصير</h3>
        <p>Al Bashiir</p>
        <p>Yang Maha Melihat</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">28</h1>
        <hr>
        <h3 class="text-end arabic">الحكم</h3>
        <p>Al Hakam</p>
        <p>Yang Maha Menetapkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">29</h1>
        <hr>
        <h3 class="text-end arabic">العدل</h3>
        <p>Al `Adl</p>
        <p>Yang Maha Adil</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">30</h1>
        <hr>
        <h3 class="text-end arabic">اللطيف</h3>
        <p>Al Lathiif</p>
        <p>Yang Maha Lembut atau Maha Teliti.</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">31</h1>
        <hr>
        <h3 class="text-end arabic">الخبير</h3>
        <p>Al Khabiir</p>
        <p>Yang Maha Mengenal atau mengetahui.</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">32</h1>
        <hr>
        <h3 class="text-end arabic">الحليم</h3>
        <p>Al Haliim</p>
        <p>Yang Maha Penyantun</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">33</h1>
        <hr>
        <h3 class="text-end arabic">العظيم</h3>
        <p>Al `Azhiim</p>
        <p>Yang Maha Agung</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">34</h1>
        <hr>
        <h3 class="text-end arabic">الغفور</h3>
        <p>Al Ghafuur</p>
        <p>Yang Maha Memberi Pengampunan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">35</h1>
        <hr>
        <h3 class="text-end arabic">الشكور</h3>
        <p>As Syakuur</p>
        <p>Yang Maha Pembalas Budi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">36</h1>
        <hr>
        <h3 class="text-end arabic">العلى</h3>
        <p>Al `Aliy</p>
        <p>Yang Maha Tinggi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">37</h1>
        <hr>
        <h3 class="text-end arabic">الكبير</h3>
        <p>Al Kabiir</p>
        <p>Yang Maha Besar</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">38</h1>
        <hr>
        <h3 class="text-end arabic">الحفيظ</h3>
        <p>Al Hafizh</p>
        <p>Yang Maha Memelihara</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">39</h1>
        <hr>
        <h3 class="text-end arabic">المقيت</h3>
        <p>Al Muqiit</p>
        <p>Yang Maha Memberi Kecukupan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">40</h1>
        <hr>
        <h3 class="text-end arabic">الحسيب</h3>
        <p>Al Hasiib</p>
        <p>Yang Maha Membuat Perhitungan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">41</h1>
        <hr>
        <h3 class="text-end arabic">الجليل</h3>
        <p>Al Jaliil</p>
        <p>Yang Maha Luhur</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">42</h1>
        <hr>
        <h3 class="text-end arabic">الكريم</h3>
        <p>Al Kariim</p>
        <p>Yang Maha Pemurah</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">43</h1>
        <hr>
        <h3 class="text-end arabic">الرقيب</h3>
        <p>Ar Raqiib</p>
        <p>Yang Maha Mengawasi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">44</h1>
        <hr>
        <h3 class="text-end arabic">المجيب</h3>
        <p>Al Mujiib</p>
        <p>Yang Maha Mengabulkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">45</h1>
        <hr>
        <h3 class="text-end arabic">الواسع</h3>
        <p>Al Waasi</p>
        <p>Yang Maha Luas</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">46</h1>
        <hr>
        <h3 class="text-end arabic">الحكيم</h3>
        <p>Al Hakiim</p>
        <p>Yang Maha Maka Bijaksana</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">47</h1>
        <hr>
        <h3 class="text-end arabic">الودود</h3>
        <p>Al Waduud</p>
        <p>Yang Maha Mengasihi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">48</h1>
        <hr>
        <h3 class="text-end arabic">المجيد</h3>
        <p>Al Majiid</p>
        <p>Yang Maha Mulia</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">49</h1>
        <hr>
        <h3 class="text-end arabic">الباعث</h3>
        <p>Al Baa`its</p>
        <p>Yang Maha Membangkitkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">50</h1>
        <hr>
        <h3 class="text-end arabic">الشهيد</h3>
        <p>As Syahiid</p>
        <p>Yang Maha Menyaksikan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">51</h1>
        <hr>
        <h3 class="text-end arabic">الحق</h3>
        <p>Al Haqq</p>
        <p>Yang Maha Benar</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">52</h1>
        <hr>
        <h3 class="text-end arabic">الوكيل</h3>
        <p>Al Wakiil</p>
        <p>Yang Maha Memelihara</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">53</h1>
        <hr>
        <h3 class="text-end arabic">القوى</h3>
        <p>Al Qawiyyu</p>
        <p>Yang Maha Kuat</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">54</h1>
        <hr>
        <h3 class="text-end arabic">المتين</h3>
        <p>Al Matiin</p>
        <p>Yang Maha Kokoh</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">55</h1>
        <hr>
        <h3 class="text-end arabic">الولى</h3>
        <p>Al Waliyy</p>
        <p>Yang Maha Melindungi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">56</h1>
        <hr>
        <h3 class="text-end arabic">الحميد</h3>
        <p>Al Hamiid</p>
        <p>Yang Maha Terpuji</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">57</h1>
        <hr>
        <h3 class="text-end arabic">المحصى</h3>
        <p>Al Muhshii</p>
        <p>Yang Maha Menghitung</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">58</h1>
        <hr>
        <h3 class="text-end arabic">المبدئ</h3>
        <p>Al Mubdi</p>
        <p>Yang Maha Memulai</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">59</h1>
        <hr>
        <h3 class="text-end arabic">المعيد</h3>
        <p>Al Mu`iid</p>
        <p>Yang Maha Mengembalikan Kehidupan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">60</h1>
        <hr>
        <h3 class="text-end arabic">المحيى</h3>
        <p>Al Muhyii</p>
        <p>Yang Maha Menghidupkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">61</h1>
        <hr>
        <h3 class="text-end arabic">المميت</h3>
        <p>Al Mumiitu</p>
        <p>Yang Maha Mematikan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">62</h1>
        <hr>
        <h3 class="text-end arabic">الحي</h3>
        <p>Al Hayyu</p>
        <p>Yang Maha Hidup</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">63</h1>
        <hr>
        <h3 class="text-end arabic">القيوم</h3>
        <p>Al Qayyuum</p>
        <p>Yang Maha Mandiri</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">64</h1>
        <hr>
        <h3 class="text-end arabic">الواجد</h3>
        <p>Al Waajid</p>
        <p>Yang Maha Penemu</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">65</h1>
        <hr>
        <h3 class="text-end arabic">الماجد</h3>
        <p>Al Maajid</p>
        <p>Yang Maha Mulia</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">66</h1>
        <hr>
        <h3 class="text-end arabic">الواحد</h3>
        <p>Al Wahid</p>
        <p>Yang Maha Tunggal</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">67</h1>
        <hr>
        <h3 class="text-end arabic">الاحد</h3>
        <p>Al Ahad</p>
        <p>Yang Maha Esa</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">68</h1>
        <hr>
        <h3 class="text-end arabic">الصمد</h3>
        <p>As Shamad</p>
        <p>Yang Maha Dibutuhkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">69</h1>
        <hr>
        <h3 class="text-end arabic">القادر</h3>
        <p>Al Qaadir</p>
        <p>Yang Maha Menentukan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">70</h1>
        <hr>
        <h3 class="text-end arabic">المقتدر</h3>
        <p>Al Muqtadir</p>
        <p>Yang Maha Berkuasa</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">71</h1>
        <hr>
        <h3 class="text-end arabic">المقدم</h3>
        <p>Al Muqaddim</p>
        <p>Yang Maha Mendahulukan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">72</h1>
        <hr>
        <h3 class="text-end arabic">المؤخر</h3>
        <p>Al Mu`akkhir</p>
        <p>Yang Maha Mengakhirkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">73</h1>
        <hr>
        <h3 class="text-end arabic">الأول</h3>
        <p>Al Awwal</p>
        <p>Yang Maha Awal</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">74</h1>
        <hr>
        <h3 class="text-end arabic">الأخر</h3>
        <p>Al Aakhir</p>
        <p>Yang Maha Akhir</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">75</h1>
        <hr>
        <h3 class="text-end arabic">الظاهر</h3>
        <p>Az Zhaahir</p>
        <p>Yang Maha Nyata</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">76</h1>
        <hr>
        <h3 class="text-end arabic">الباطن</h3>
        <p>Al Baathin</p>
        <p>Yang Maha Ghaib</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">77</h1>
        <hr>
        <h3 class="text-end arabic">الوالي</h3>
        <p>Al Waali</p>
        <p>Yang Maha Memerintah</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">78</h1>
        <hr>
        <h3 class="text-end arabic">المتعالي</h3>
        <p>Al Muta`aalii</p>
        <p>Yang Maha Tinggi</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">79</h1>
        <hr>
        <h3 class="text-end arabic">البر</h3>
        <p>Al Barru</p>
        <p>Yang Maha Penderma</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">80</h1>
        <hr>
        <h3 class="text-end arabic">التواب</h3>
        <p>At Tawwaab</p>
        <p>Yang Maha Penerima Tobat</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">81</h1>
        <hr>
        <h3 class="text-end arabic">المنتقم</h3>
        <p>Al Muntaqim</p>
        <p>Yang Maha Pemberi Balasan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">82</h1>
        <hr>
        <h3 class="text-end arabic">العفو</h3>
        <p>Al Afuww</p>
        <p>Yang Maha Pemaaf</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">83</h1>
        <hr>
        <h3 class="text-end arabic">الرؤوف</h3>
        <p>Ar Ra`uuf</p>
        <p>Yang Maha Pengasuh</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">84</h1>
        <hr>
        <h3 class="text-end arabic">مالك</h3>
        <p>Malikul Mulk</p>
        <p>= Yang Maha Penguasa Kerajaan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">85</h1>
        <hr>
        <h3 class="text-end arabic">Wal</h3>
        <p>Dzul Jalali</p>
        <p>ذو الجلال و الإكرام = Yang Maha Pemilik Kebesaran dan Kemuliaan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">86</h1>
        <hr>
        <h3 class="text-end arabic">المقسط</h3>
        <p>Al Muqsit</p>
        <p>Yang Maha Pemberi Keadilan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">87</h1>
        <hr>
        <h3 class="text-end arabic">الجامع</h3>
        <p>Al Jami`</p>
        <p>Yang Maha Mengumpulkan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">88</h1>
        <hr>
        <h3 class="text-end arabic">الغنى</h3>
        <p>Al Ghani</p>
        <p>Yang Maha Kaya</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">89</h1>
        <hr>
        <h3 class="text-end arabic">المغنى</h3>
        <p>Al Mughni</p>
        <p>Yang Maha Pemberi Kekayaan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">90</h1>
        <hr>
        <h3 class="text-end arabic">المانع</h3>
        <p>Al Maani</p>
        <p>Yang Maha Mencegah</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">91</h1>
        <hr>
        <h3 class="text-end arabic">الضار</h3>
        <p>Ad Dhaar</p>
        <p>Yang Maha Menimpa Kemudaratan</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">92</h1>
        <hr>
        <h3 class="text-end arabic">النافع</h3>
        <p>An Nafi</p>
        <p>Yang Maha Memberi Manfaat</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">93</h1>
        <hr>
        <h3 class="text-end arabic">النور</h3>
        <p>An Nuur</p>
        <p>Yang Maha Bercahaya</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">94</h1>
        <hr>
        <h3 class="text-end arabic">الهادي</h3>
        <p>Al Hadi</p>
        <p>Yang Maha Pemberi Petunjuk</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">95</h1>
        <hr>
        <h3 class="text-end arabic">البديع</h3>
        <p>Al Badi’</p>
        <p>Yang Maha Pencipta</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">96</h1>
        <hr>
        <h3 class="text-end arabic">الباقي</h3>
        <p>Al Baaqii</p>
        <p>Yang Maha Kekal</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">97</h1>
        <hr>
        <h3 class="text-end arabic">الوارث</h3>
        <p>Al Waarits</p>
        <p>Yang Maha Pewaris</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">98</h1>
        <hr>
        <h3 class="text-end arabic">الرشيد</h3>
        <p>Ar Rasyiid</p>
        <p>Yang Maha Pandai</p>
      </div>
      <br><br
      <div class="ayat">
        <h1 class="text-center">99</h1>
        <hr>
        <h3 class="text-end arabic">الصبور</h3>
        <p>As Shabuur</p>
        <p>Yang Maha Sabar</p>
      </div>
      <br><br
    </div>
    <script src="/src/bootstrap.bundle.min.js"></script>
    <script src="/src/jquery.min.js"></script>
  </body>
</html>
